@import "typography";
@import "colors";
$phone: 768px;

:root {
  /* Color variables */
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-secondary: #aaaaaa;
  --color-tertiary: #888888;
  --color-gradient: linear-gradient(to right, #ffffff, #dddddd);
  --color-bg-gradient: linear-gradient(to right, #dddddd, #ffffff);

  --dark-100: rgba(9, 9, 37, 1);
  --dark-60: rgba(9, 9, 37, 0.6);
  --dark-50: rgba(9, 9, 37, 0.5);
  --dark-40: rgba(9, 9, 37, 0.4);
  --dark-30: rgba(9, 9, 37, 0.3);
  --dark-15: rgba(9, 9, 37, 0.15);
  --dark-5: rgba(9, 9, 37, 0.05);
  --light-100: rgba(255, 250, 245, 1);
  --light-60: rgba(255, 250, 245, 0.6);
  --light-50: rgba(255, 250, 245, 0.5);
  --light-40: rgba(255, 250, 245, 0.4);
  --light-15: rgba(255, 250, 245, 0.15);

  /* Font size variables */
  --font-mobile-h1: 32px;
  --font-mobile-h2: 24px;
  --font-mobile-h2-large: 56px;
  --font-mobile-nav: 16px;
  --font-laptop-h1: 64px;
  --font-laptop-h2: 32px;
  --font-laptop-h2-large: 80px;
  --font-desktop-h1: 80px;
  --font-desktop-h2: 40px;
  --font-desktop-h2-large: 104px;
  --font-desktop-nav: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //outline: 1px solid rgba(255, 196, 255, 0.51);
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  min-height: 200dvh;
  overflow-x: hidden;
}

.headroom {
  will-change: all;
  transition: all 200ms linear;

  &--pinned {
    transform: translateY(0%);
  }

  &--not-top {
    transform: translateY(0%);
    top: 0;
    //background: var(--color-bg);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}

.nav {
  &__roles {

    ul {
      display: grid;
    }

    ul > * {
      grid-area: 1 / 1;
    }

  }
  &__role {

  }



}

.js--text-animation-1 {
  overflow: hidden;
  position: relative;

  .line-group-text-1 {
    position: relative;
    overflow: hidden;

    .line-container-text-1 {
      position: relative;
      display: inline-block;
      white-space: nowrap;
    }

    .text-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
    }
  }
}

.nav__item:not(#themeSwitch){
  display: grid;
  align-content: center;
  position: relative;
  transition: opacity 0.3s ease-in-out;

  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-text);
    transition: width 0.3s ease-in-out;
  }
  &:hover{
    opacity: 0.6;

  }
  &:hover::before{
    width: 100%;
  }
}